table, th {
  font-family: 'Noto Sans', sans-serif;
  table-layout: fixed;
  #width: 100%;
  border-collapse: collapse;
  border: 0px solid purple;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1.5em;
  color: hsl(0, 0%, 30%);
  padding: 4px 2px;
}

th {
  text-align: right;
}

input {
  width: 300px;
  margin-left: 15px;
}

#id_departure_time_hour {
  margin-left: 15px;
}

#id_arrival_time_hour {
  margin-left: 15px;
}

select {
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: hsl(0, 0%, 95%);
  padding: 3px 2px;
}
