{% extends 'index.html' %}
{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static '/css/home.css' %}">
{% endblock %}

{% block contentheader %}
<h1>MOST History Event Manager:
  <span style="font-family: 'Noto Sans', sans-serif; font-weight: bold">a README</span>
</h1>
{% endblock %}

{% block content %}
<div class= "home">
  <p>For now, this homepage will serve as the README. <br>
  It will be a quick start guide later. Maybe. Or a login page. <br>
  Or whatever it wants to be. We just want the homepage to be happy.</p>

  {% include 'README.html' %}
</div>

{% endblock %}
