<html>
  <head>
    {% load staticfiles %}
    {% load bootstrap3 %}
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static '/img/favicon/favicon.ico' %}"/>
    <!-- css -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static '/css/index.css' %}">
    {% bootstrap_messages %}
    <!-- JS -->
    <script type="text/javascript" src="{% static '/js/jquery-3.3.1.js' %}"></script>
    {% bootstrap_javascript %}
    <script type="text/javascript">
      $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
      });
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Museum of South Texas History</title>
  </head>

  <body>
    <!-- wrapper holds entire page -->
    <!-- (I don't remember why I did this but it's not hurting anything) -->
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
        <div id="sidebar-header">
          <h3><b>MOST History Event Manager</b></h3>
        </div>
        <ul class="list-unstyled CTAs">
          <li><a href="/" class="download">Home</a></li>
          <li><a href="{% url 'events:new' %}" class="download">New Booking</a></li>
          <li><a href="/admin/" class="download">Django Admin</a></li>
          <li><a href="" class="download">_________</a></li>
          <li><a href="" class="download">_________</a></li>
          <li><a href="" class="download">_________</a></li>
          <li><a href="" class="download">_________</a></li>
          <li><a href="" class="download">_________</a></li>
          <li><a href="" class="download">_________</a></li>
          <!-- <li><a href="/login/" class="download">Login</a></li>
          {% if user.is_authenticated %}
            <li>User: {{ user.get_username }}</li>
            <li><a href="/logout/" class="download">Logout</a></li>
          {% else %}
            <li>user.us_authenticated is false!</li>
          {% endif %} -->
        </ul>
      </nav> <!-- end Sidebar -->

      <!-- content BUTTON sidebar -->
      <!-- CONTENT -->
      <div id="content">
        <!-- took out navbar-default -->
        <nav class="navbar">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </nav>
        <!-- content TITLE -->

        <!-- content BLOCK -->
        <div id="shellblock">
          {% block 'content' %}
          {% endblock %}
        </div>
      </div> <!--end CONTENT -->

    </div>
  </body>

</html>
