<html>
  <head>
    <h1>Title!</h1>
  </head>
  <body>
    <header class="Page__header">Museum of South Texas History</header>
    <!-- SIDEBAR -->
    <div class="Page__sidebar">
      <h3>Filler</h3>
      <h3>Filler</h3>
      <h3>Filler</h3>
    </div>

    <!-- CONTENT  -->
    <div class="Page__content">
      <header>Content Header</header>
     <p>Lorem ipsum dolor sit amet, pri idque debet accusam at, ea sea adhuc con
        stituam. Ut amet mediocrem pri, accusam comprehensam vim te, ei inani ex
        petendis incorrupte mel. Minim verterem id nam, malorum suscipit id nam. 
        Ei nostrud volumus sadipscing per. Usu nulla praesent argumentum te.
        Vim iracundia constituam definitiones ut, zril omnesque his in, cu est vo
        cent omnesque repudiare.</p> 
    </div>
  </body>
</html>
