{% extends 'index.html' %}

{% load staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static '/css/event_list.css' %}">
{% endblock %}

{% block contentheader %}
<h1 style="font-family: 'Playfair Display', serif;">Currently Registered:</h1>
{% endblock %}

{% block content %}
<html>
<a class="btn btn-default" id="delete_all_button" href="{% url 'events:delete_all' %}"><span class="glyphicon glyphicon-trash">All</span></a>
{% for event in events %}
<div class="event_detail">
  {% include 'events/event.html' %}
</div>
{% endfor %}
</html>

{% endblock %}
