.home {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: hsl(0, 0%, 30%);
}

.home .line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 20px 0 0 0;
}
