{% extends 'index.html' %}
{% block 'content' %}

<h2 style="font-size: 30px;">Book a tour!</h2>
<form>
  School:<br>
  <input type="text" id="name" name="school_name" required>
  <br><br>
  Name:<br>
  <input type="text" id="name" name="user_name" placeholder="John Doe" required>
  <br><br>
  E-mail:<br>
  <input type="email" id="mail" name="user_email" placeholder="youremail@email.com" required>
  <br><br>
  Telephone:<br>
  <input type="tel" id="Telephone" name="tel" placeholder="(123) 456-7890" required>
  <br><br>
  Reservation Date:<br>
  <input type= "date" name="date" required>
  <br><br>
  Time:<br>
  <input type= "time" name="time" required>
  <br><br>
  Number Attending:<br>
  <input type= "number" name="number" min="1" required>
  <br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
